.yellow-futo{
  background:linear-gradient(to right, #FFC778 40%, #FFF); /* 線状のグラデーション */
 }

a{
  background-color:blue;color:white;font-size:20px;
  padding: 10px; /* 文字の周り上下左右 空白を指定 */
  position: relative;
  top: 20px;
  text-align:center;border-radius:5px; /*角を丸くする*/
  text-decoration:none;max-width:300px;
  display:block;
  animation:prunprun 2.2s ease-in infinite;
  -webkit-animation:prunprun 2.2s ease-in infinite;
  -moz-animation:prunprun 2.2s ease-in infinite;
  -o-animation:prunprun 2.2s ease-in infinite;
  -ms-animation:prunprun 2.2s ease-in infinite;
 }

  @keyframs prunprun{
 48%,62%{transform:scale(1.0,1.0);}
 50%{transform:scale(1.0,0.9);}
 56%{transform:scale(0.9,1.1)translate(0,-5px);}
 59%{transform:scale(1.0,1.0)translate(0,-3px);}
 }
 @-webkit-keyframes prunprun{
 48%,62%{-webkit-transform:scale(1.0,1.0);}
 50%{-webkit-transform:scale(1.1,0.9);}
 56%{-webkit-transform:scale(0.9,1.1)translate(0,-5px);}
 59%{-webkit-transform:scale(1.0,1.0)translate(0,-3px);}
 }

 a:hover{
  background-color:darkblue;color:white;
 }
 a:active{
  background-color:pink;color:white;
 }
