@charset "utf-8";

/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width: 94%;
    margin:0 auto;
    position: relative;
    top: 10px;
}

.slider img {
    width: 40vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:auto;
}

.slider .slick-slide {
  transform: scale(0.8);/*左右の画像のサイズを80%に*/
  transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
  opacity: 0.5;/*透過50% 薄すぎず濃すぎず */
}

.slider .slick-slide.slick-center{
  transform: scale(1);/*中央の画像のサイズだけ等倍に*/
  opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
  margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
  margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}


/*========= レイアウトのためのCSS ===============*/

body{
  background:#DBE2EF;
}

h1{
  margin-top: 20px;
	font-size:3em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #FF6F00;
	text-shadow:
		0 0.01em 0 #999,
		0 0.02em 0 #888,
		0 0.03em 0 #777,
		0 0.04em 0 #666,
		0 0.05em 0 #555,
		0 0.06em 0 #444,
		0 0.08em 0 #000;
  color: #112D4E;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  border-top: solid 3px #3F72AF;/*上線*/
  border-bottom: solid 3px #3F72AF;/*下線*/
}
h2 {
  text-align: center;
  position: relative;
  color: #112D4E;
  text-shadow: 0 0 2px white;
}
h2:before {
  content: "";
  position: absolute;
  background: #3F72AF;
  left: 900px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  /* border: dashed 1px white; */
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
}
.setumei {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
  padding: 10px 30px;
}

.setumei p {
  display: inline;
  font-weight: bold;
  line-height: 1.8;
  font-size: large;
  color: #112D4E;
  display: inline-block;
  text-align: left;
  font-family: sans-serif;
}

 ul{
  margin:0;
  padding: 0;
  list-style: none;
}
.btn{
  background-color:#112D4E;color:white;font-size:20px;
  padding: 10px; /* 文字の周り上下左右 空白を指定 */
  position: relative;
  top: 20px;
  text-align:center;border-radius:5px; /*角を丸くする*/
  text-decoration:none;max-width:300px;
  display:block;
  animation:prunprun 2.2s ease-in infinite;
  -webkit-animation:prunprun 2.2s ease-in infinite;
  -moz-animation:prunprun 2.2s ease-in infinite;
  -o-animation:prunprun 2.2s ease-in infinite;
  -ms-animation:prunprun 2.2s ease-in infinite;
 }

  @keyframs prunprun{
 48%,62%{transform:scale(1.0,1.0);}
 50%{transform:scale(1.0,0.9);}
 56%{transform:scale(0.9,1.1)translate(0,-5px);}
 59%{transform:scale(1.0,1.0)translate(0,-3px);}
 }
 @-webkit-keyframes prunprun{
 48%,62%{-webkit-transform:scale(1.0,1.0);}
 50%{-webkit-transform:scale(1.1,0.9);}
 56%{-webkit-transform:scale(0.9,1.1)translate(0,-5px);}
 59%{-webkit-transform:scale(1.0,1.0)translate(0,-3px);}
 }

 a:hover{
  background-color:#3F72AF;color:white;
 }
 a:active{
  background-color:pink;color:white;
 }