@charset "utf-8";
.goal{
  font-size: 6.5em;
  text-align:center;
  line-height:0.95em;
  font-weight:bold;
  color: transparent;
  background: repeating-linear-gradient(90deg,
    #E60012 0.1em 0.2em,
    #F39800 0.2em 0.3em,
    #FFF100 0.3em 0.4em,
    #009944 0.4em 0.5em,
    #0068B7 0.5em 0.6em,
    #1D2088 0.7em 0.8em,
    #CFA7CD 0.8em 0.9em);
  -webkit-background-clip: text;
  -webkit-box-reflect: below -0.25em -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, .6)), to(transparent));
  }
  
.fadeleft{
  
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  animation-name: fadeleft;
  animation-duration: 4s;
  animation-iteration-count: 1;
  font-size:8em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: transparent;
	background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em); 
	-webkit-background-clip: text;
	-webkit-box-reflect: below -0.25em -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, .6)), to(transparent));
}

@keyframes fadeleft {
from {
  opacity: 0;
   transform: translateX(150px);
}
to {
  opacity: 1;
  transform: translateX(0);
}
}
.juni1 {
  height: 100px;
  padding: 250px;
  justify-content: center;  /*中央寄せ*/
}
.tokuten{
  padding: 10px;
  animation: fadeIn 5s ease 1s 1 normal backwards;
  animation-delay: 2s;
	font-size:2.5em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #000;
	text-shadow: 
		0 0 0.05em #FFF59D,
		0 0 0.06em #FFF59D,
		0 0 0.07em #FFF59D,
		0 0 0.08em #FFF59D,
		0 0 0.09em #FFF59D,
		0 0 0.20em #FFF59D,
		0 0 0.20em #FFF59D,
		0 0 0.20em #FFF59D,
		0 0 0.50em #FFF59D;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
body{
  background-color: black;
}

/* ここから↓花吹雪のｃｓｓ*/

#wrapper{
  display: flex;            /* フレックスコンテナの作成 */
  justify-content: center;  /* フレックスコンテナの(子要素)を中央揃え 順位ボックスにも同じことをしています。*/
  align-items: center;      /* 交差軸方向へ子要素を中央揃え 　要素が縦に並んでいたら　横幅で中央揃えする */
  text-align:center;
}

/*========= particle js を描画するエリア設定 ===============*/

html,body{
  height: 100%;                 /*高さを100%にして描画エリアをとる*/
}

#particles-js{ 
  position:fixed;               /*描画固定*/
  z-index:-1;                   /*描画を一番下に*/
  width: 100%;
  height: 100%;
}

#wrapper{
  position: relative;           /*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 1;                   /*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
  width:100%;
  height: 100%;
}

