@charset "utf-8";


h1 {
    text-align: center;
    color: rgb(221, 208, 208);/*文字色*/
    padding: 0.5em 0;/*上下の余白*/
    border-top: solid 3px rgb(221, 208, 208);/*上線*/
    border-bottom: solid 3px rgb(221, 208, 208);/*下線*/
  }
  .setumei {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    padding: 10px 30px;
  }
  
  .setumei p {
    display: inline;
    font-weight: bold;
    line-height: 1.8;
    font-size: large;
    color: rgb(221, 208, 208);
    display: inline-block;
    text-align: left;
    font-family: sans-serif;
  }
  .no1{
    font-size:5em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: transparent;
	background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em); 
	-webkit-background-clip: text;
	-webkit-box-reflect: below -0.25em -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, .6)), to(transparent));
    animation-delay: 3s;
    text-align: center;
    animation-name:fadeInAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
    }
    
    @keyframes fadeInAnime{
      from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
      }
    }
    .no2{
        font-size:5em;
        text-align:center;
        line-height:0.95em;
        font-weight:bold;
        color: transparent;
        background: repeating-linear-gradient(0deg, #7e7c78 0.1em, #c7c5bf 0.2em, #969590 0.3em, #c2c0b7 0.4em, #747270 0.5em); 
        -webkit-background-clip: text;
        -webkit-box-reflect: below -0.25em -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, .6)), to(transparent));
        animation-delay: 5s;
        text-align: center;
        animation-name:fadeInAnime;
        animation-duration:1s;
        animation-fill-mode:forwards;
        opacity:0;
        }
        
        @keyframes fadeInAnime{
          from {
            opacity: 0;
          }
        
          to {
            opacity: 1;
          }
        }
        .btn--orange,
        a.btn--orange {
          font-size: 2em;
          color: #fff;
          background-color: #b32e39;
        }
        .btn--orange:hover,
        a.btn--orange:hover {
          color: #fff;
          background: #b32e39;
        }
        
        a.btn--radius {
           border-radius: 100vh;
        }
    
  body{
    background:black;
  }