table{
  border-spacing: 0px;
  font-family: Verdana, sans-serif;
  table-layout: fixed;
  
}

th, td{
  border-width: 1px;
  border-style: solid;
  padding: 2px;
}

tbody tr:hover{ /*セルにカーソルが乗ると、セルが含まれている行の色を変更*/
  color: rgb(252, 111, 4);
}

thead th{
  border-color: #ccffcc #7ca866 #7ca866 #ccffcc; /*セルの枠線に色を指定、上線・右線・下線・左線*/
  background-color: #bceaa8;
}

tbody th{
  border-color: #ffffcc #aca866 #aca866 #ffffcc;
  background-color: #eceaa8;
}

td{
  border-color: #ffffff #aca899 #aca899 #ffffff;
}

