html,body{
  overflow: hidden;
}


#status1 table{ /* player 情報 margin 上下左右の位置調整*/
  margin-top: -310px;
  margin-right: 0px;
  margin-left: 500px;
  margin-bottom: 50px;
}

#status2 table{ /* player 情報 margin 上下左右の位置調整*/
  margin-top: -200px; /* なぜ-200pxなのか？*/
  margin-right: 0px;
  margin-left: 1100px;
  margin-bottom: 50px;
}

.left-box {
  float: left;
  margin-bottom: 15px;
  margin-right: 10px;
  width: 120px;
  height: 120px;
  border-radius: 10%;
  border: 3px solid #252A34;
  text-align: center;
  font-size: 40px; 
  line-height: 3;
}

.circle{
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: 0.5px solid;
  text-align: center;
  line-height: 50px;
  border: 1px solid rgb(0, 0, 0);
}

#circle0 {
  border-color: blue;
  position:fixed;
  top: 255px;
}


#circle1 {
  border-color: green;
  position:fixed;
  top: 255px;
  left: 72px;
}



/* --------- ここからモーダルウィンドウ ------------- */
.modal-wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 60px 10px;
  text-align: center;
}

.modal-wrapper:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.modal-wrapper:target {
  opacity: 1;
  visibility: visible;
  transition: opacity .4s, visibility .4s;
}

.modal-wrapper::after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  vertical-align: middle;
  content: ""
}

.modal-wrapper .modal-window {
  box-sizing: border-box;
  display: inline-block; /*要素を中身と同じ大きさに + 幅と高さの指定を許可*/
  z-index: 200;
  position: relative;
  width: 70%;
  max-width: 600px;
  padding: 5px 5px 15px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .6);
  vertical-align: middle;
  font-size: 20px;
}

.modal-wrapper .modal-window .modal-content {
  max-height: 80vh;
  overflow-y: auto;
}

.modal-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .8)
}

.modal-wrapper .modal-close { /* 閉じるボタン */
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  color: #95979c !important;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  text-align: left;
  text-decoration: none;
  text-indent: 0
  
}

/* モーダル内ヘッダー */
.modal_header1{
  padding: 15px 10px;
  background-color: #3FC1C9;
  color: #FFF;
  font-weight: bold;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
}
.modal_header2{
  padding: 15px 10px;
  background-color: crimson;
  color: #FFF;
  font-weight: bold;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
}
.modal_header3{
  padding: 15px 10px;
  background-color: #364F6B;
  color: #FFF;
  font-weight: bold;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
}
.modal-wrapper .modal-close:hover {
  color: #2b2e38 !important
}
/* ここまでがモーダルウィンドウ */

body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #DBE2EF;
  background-repeat: no-repeat; /*画像を繰り返し表示させない*/
  background-position: 50% 50%; /*画像をどこにひょうじさせるか、縦横をしていする*/
  background-size:cover; /*contain画面いっぱいに広げる余白できてしまう。 coverというはみ出す部分は、余白ができない設定がある*/
}
.red{
  color: red;
  font-size: 100px;
}
#event_btn{
  position: relative;
  bottom: 165px;
  left: 165px;
}

#event_saikoro{
  position: relative;
  bottom: 165px;
  left: 170px; 
}
.orange{color: orange;}

.blue{color: blue;}

#playInfo{
  position: relative;
  
  top: 1px;
  
}

/* --------- ここから７３イベントモーダルウィンドウ ------------- */
ul{
  margin:0;
  padding: 0;
  list-style: none;
}

/*==================================================
スライダーのためのcss
===================================*/
.slider73 {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width: 50%;
    /*margin:0 auto; 中央揃え*/
    position: relative;
    top: 10px;
    left: -100px;
   
}

.slider73 img {
    width: 50vw;/* スライダー内の画像を60vwにしてレスポンシブ化 */
    height: 500px;
}

.slider73 .slick-slide {
  transform: scale(0.9);/*左右の画像のサイズを80%に*/
  transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
  opacity: 0.5;/*透過50% 薄すぎず濃すぎず */
}

.slider73 .slick-slide.slick-center{
  transform: scale(1);/*中央の画像のサイズだけ等倍に*/
  opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
  margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
  margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}

.modal73 {
  z-index: 999; /*要素を表示する優先順位　0<x で一番上に貼り付け　値が大きい程　優先表示される*/
  position: fixed; /* cssで指定した位置に固定 */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 60px 10px; /* 要素の内側　余白　上下60 左右10 */
  text-align: center; /* 制作物紹介の文字列を中央揃え */
}

.modal73:not(:target) {
  opacity: 0; /* 要素は透明 */
  visibility: hidden; /* 要素はあるけど見えない状態 */
  transition: opacity .3s, visibility .3s; /* クリックした時　0.3秒で　半透明 */
}

.modal73:target {
  opacity: 1;
  visibility: visible;
  transition: opacity .4s, visibility .4s;
}

.modal73::after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  vertical-align: middle;
  content: ""
}

.modal73.is-show {
  opacity: 1;
  visibility: visible;
}

.modal73 .modal-window73 {
  box-sizing: border-box;
  display: inline-block; /*要素を中身と同じ大きさに + 幅と高さの指定を許可*/
  z-index: 200;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 6000px;
  padding: 5px 5px 15px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .6);
  vertical-align: middle;
  font-size: 20px;
}

.modal73 .modal-window73 .modal-content73 {
  max-height: 80vh;
  overflow-y: auto;
}

.modal-overlay73 {
  z-index: 10; /* モーダルの中で一番下*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .8) /* モーダルの色 */
}
/* ここまでが73モーダルウィンドウ */

#explanation{
  position:absolute;
  top: 100px;
  left: 800px;
}